#ffl_container {
    background-color: #000 !important;
}
#ffl_container .column:first-child {
    margin-left: 0;
    position: relative;
    top: -12px;
}
#ffl_container .notice {
    color: #000;
}
#ffl_container #ffl-search {
    color: #000;
    padding: 7px 10px 10px 10px;
}
#ffl_container .modal-float-left {
    color: #000;
}
#ffl_container #ffl-list div button {
    font-size: 12px;
    line-height: 16px;
}
#ffl_container #bodyContent h3, #ffl_container #bodyContent p {
    color: #000;
}
#ffl_container .selectedFFLDivButton {
    background: #b20000 !important;
    color: black;
    border: 1px solid #b20000;
}
#ffl_container .modalFFL-content /*IE Fix */ {
    height: 65%;
}
@media only screen and (max-width: 480px) {
    #ffl_container #modalFFL .modalFFL-content {
        height: 80vh;
    }
}